.idea/
**/target/**
.flattened-pom.xml
dependency-reduced-pom.xml
application-dev.yaml
application-keycloak.yaml
.run/
# If you need your code in the IDEA project
# ln -s /opt/stm/data/configs/projects/default/workspaces/main/repo .localrepo
.localrepo
.tmp/
.tmp/**
.m2-cache
.m2-tmp
.aider*
